Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

Move rest
  .eslintrc.json
  client/electron/index.ts
  client/electron/linux_proxy_controller/outline_controller_server.h
  client/electron/linux_proxy_controller/outline_error.h
  client/electron/routing_service.ts
  client/electron/start.action.mjs
  client/electron/tsconfig.json
  client/electron/tunnel_store.ts
  client/electron/vpn_service.ts
  client/electron/vpn_tunnel.ts
  client/package.json
  client/src/cordova/dev.action.mjs
  client/src/cordova/import_messages.action.mjs
  client/src/cordova/setup.action.mjs
  client/web_app/app/outline_server_repository/config.ts
  client/web_app/build.action.mjs
  client/web_app/get_browser_webpack_config.mjs
  client/web_app/test.action.mjs
  client/web_app/tsconfig.json
  client/web_app/views/licenses_view/licenses/README.md
  client/web_app/webpack_base.mjs
Owners: @Jigsaw-Code/outline-dev

lint fixes
  client/electron/build_main.action.mjs
  client/electron/connectivity.ts
  client/electron/routing_service.ts
  client/tsconfig.json
Owners: @Jigsaw-Code/outline-dev

fix
  client/web_app/app/main.electron.ts
Owners: @Jigsaw-Code/outline-dev

Don't lint moved files
  .github/workflows/lint.yml
Owners: @Jigsaw-Code/outline-dev

Auto-config Android
  .github/scripts/android_setup_ci.sh
  .github/workflows/build_and_test_debug_client.yml
  client/Taskfile.yml
  client/build/configure_android.sh
  client/go/Taskfile.yml
  client/src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Auto-configure android
  client/Taskfile.yml
  client/go/Taskfile.yml
  client/package.json
  client/src/cordova/android/README.md
  client/src/cordova/build.action.mjs
  client/src/cordova/setup.action.mjs
  package-lock.json
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Remove CI setup
  .github/workflows/build_and_test_debug_client.yml
Owners: @Jigsaw-Code/outline-dev

Revert note
  client/src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

invert Java home
  client/build/configure_android.sh
Owners: @Jigsaw-Code/outline-dev

revert "default" use fake direct
  client/go/outline/client.go
  client/go/outline/config/module.go
  client/go/outline/config/module_test.go
  client/go/outline/electron/main.go
  client/go/outline/vpn_linux.go
Owners: @Jigsaw-Code/outline-networking-owners

.github/CODEOWNERS:

*                            @Jigsaw-Code/outline-dev

/client/go/                  @Jigsaw-Code/outline-networking-owners
/client/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/                @Jigsaw-Code/outline-networking-owners

/client/web_app/model/       @fortuna
/server_manager/model/       @fortuna
