Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners

add select
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

add select (#1363)
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

refactor(electron): ♻️ a huge upgrade to electron 19.0.8
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

refactor(electron): add preload.ts and the type definition
  src/electron/preload.d.ts
  src/electron/preload.ts
  src/electron/webpack_electron_main.js
  src/www/index_electron.html
Owners: @Jigsaw-Code/outline-owners

rough init
  src/www/app/outline_server.ts
Owners: none

slightly better ig
  src/www/app/outline_server.ts
Owners: none

refactor ipc, sentry, clipboard and build scripts
  .eslintrc.json
  package-lock.json
  package.json
  src/electron/build_main.action.mjs
  src/electron/index.ts
  src/electron/preload.d.ts
  src/electron/preload.ts
  src/electron/types/electron-promise-ipc/index.d.ts
  src/electron/webpack_electron_main.mjs
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/util.ts
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

remove transifex docs
  docs/localization.md
Owners: @Jigsaw-Code/outline-strings-owners

chore: remove transifex docs (#1369)
  docs/localization.md
Owners: @Jigsaw-Code/outline-strings-owners

add url protection
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

Update index.ts
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

fix(electron): add url protection (#1370)
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

fix(www): 💊 hide server list scroll bar when there is enough space
  src/www/ui_components/app-root.js
  src/www/views/servers_view/index.ts
Owners: none

fix(www): 💊 hide server list scroll bar when there is enough space (#1371)
  src/www/ui_components/app-root.js
  src/www/views/servers_view/index.ts
Owners: none

deps: upgrade ShadowsocksConfig to v0.2.1
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

feature: turn off node integration
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

update linux instructions
  docs/invitation_instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

update to s3 link
  docs/invitation_instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

chore(docs): update linux installation instructions (#1373)
  docs/invitation_instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

add exec step to linux install
  docs/invitation_instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

added max width to the wrapper card-metadata-text
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

Revert "added max width to the wrapper card-metadata-text"
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

added max width to the wrapper card-metadata-text
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

add exec step to linux install (#1374)
  docs/invitation_instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

fix: respond to code review comments
  src/electron/build_main.action.mjs
  src/electron/webpack_electron_main.mjs
Owners: @Jigsaw-Code/outline-owners

refactor(electron): make a new strongly typed IPC architecture
  package-lock.json
  package.json
  src/electron/index.ts
  src/electron/ipc-preload.ts
  src/electron/ipc.ts
  src/electron/preload.d.ts
  src/electron/preload.ts
  src/electron/webpack_electron_main.mjs
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/util.ts
  src/www/index_electron.html
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

deleted max-size and added word-wrap for server name
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

break out final scripts, still need to fill out
  package.json
  src/build/get_build_parameters.mjs
  src/electron/start.action.mjs
  src/www/start.action.mjs
  src/www/test.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

sketch out all the js commands
  .github/workflows/build_and_test_debug.yml
  README.md
  src/build/run_action.mjs
  src/build/spawn_stream.mjs
  src/cordova/setup.action.mjs
  src/electron/build.action.mjs
  src/electron/build_main.action.mjs
  src/electron/get_electron_build_parameters.mjs
  src/electron/start.action.mjs
  src/www/build.action.mjs
  src/www/get_browser_webpack_config.mjs
  src/www/karma.conf.js
  src/www/start.action.mjs
  src/www/test.action.mjs
  src/www/web-dev-server.config.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

Update get_electron_build_parameters.mjs
  src/electron/get_electron_build_parameters.mjs
Owners: @Jigsaw-Code/outline-owners

add chalk
  src/build/spawn_stream.mjs
Owners: none

Update src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

Update src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

get test scirpt wokring
  package-lock.json
  package.json
  src/build/run_action.mjs
  src/www/karma.conf.js
  src/www/test.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners

need to correct the path
  src/electron/start.action.mjs
Owners: @Jigsaw-Code/outline-owners

fix electron
  src/electron/start.action.mjs
Owners: @Jigsaw-Code/outline-owners

more misc cleanup
  README.md
  package-lock.json
  package.json
  src/cordova/get_cordova_build_parameters.mjs
  src/electron/get_electron_build_parameters.mjs
  src/www/build.action.mjs
  src/www/get_browser_webpack_config.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

nicer open
  src/www/get_browser_webpack_config.mjs
Owners: none

inputs and outputs
  src/www/get_browser_webpack_config.mjs
Owners: none

did I break it or was it broken?
  README.md
  docs/electron_development.md
  src/build/get_root_dir.mjs
  src/www/get_browser_webpack_config.mjs
  src/www/webpack_cordova.mjs
  src/www/webpack_electron.mjs
Owners: @Jigsaw-Code/outline-strings-owners
