Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

.github/CODEOWNERS:

*       @Jigsaw-Code/outline-dev

/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/         @Jigsaw-Code/outline-networking-owners
/tools/               @Jigsaw-Code/outline-networking-owners

/src/www/model/           @fortuna

Update app.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

fix: ssconf:// deeplinking on ios (#1524)
  src/www/app/app.spec.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

Update tools/build/setup_macos_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

fix: spurious typescript errors (#1550)
  tsconfig.json
Owners: @Jigsaw-Code/outline-dev

Update reference to Apple library in src/www/model/errors.ts
  src/www/model/errors.ts
Owners: @fortuna

add note about class and property visibility to package swift files
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/OutlineTunnel.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/OutlineTunnelStore.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/Subnet.swift
Owners: @Jigsaw-Code/outline-dev

restructure swift package sources
  src/cordova/apple/OutlineAppleLib/Package.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/OutlineTunnel.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/OutlineTunnelStore.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/Subnet.swift
  src/cordova/apple/OutlineAppleLib/Sources/PacketTunnelProviderSources/PacketTunnelProvider.m
  src/cordova/apple/OutlineAppleLib/Sources/PacketTunnelProviderSources/include/PacketTunnelProvider.h
  src/cordova/apple/OutlineAppleLib/Tests/OutlineTunnelTest/OutlineTunnelTest.swift
Owners: @Jigsaw-Code/outline-dev

Use a composite build pattern
  src/cordova/android/OutlineAndroidLib/.gitignore
  src/cordova/android/OutlineAndroidLib/build.gradle
  src/cordova/android/OutlineAndroidLib/gradle.properties
  src/cordova/android/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.jar
  src/cordova/android/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.properties
  src/cordova/android/OutlineAndroidLib/gradlew
  src/cordova/android/OutlineAndroidLib/gradlew.bat
  src/cordova/android/OutlineAndroidLib/outline/.gitignore
  src/cordova/android/OutlineAndroidLib/outline/build.gradle
  src/cordova/android/OutlineAndroidLib/outline/consumer-rules.pro
  src/cordova/android/OutlineAndroidLib/outline/proguard-rules.pro
  src/cordova/android/OutlineAndroidLib/outline/src/androidTest/java/org/outline/vpn/VpnTunnelStoreTest.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/AndroidManifest.xml
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/IVpnTunnelService.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/TunnelConfig.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/shadowsocks/ShadowsocksConfig.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/log/OutlineLogger.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/log/SentryErrorReporter.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnServiceStarter.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnel.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelService.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelStore.java
  src/cordova/android/OutlineAndroidLib/outline/src/test/java/org/outline/vpn/VpnTunnelTest.java
  src/cordova/android/OutlineAndroidLib/settings.gradle
  src/cordova/build.action.mjs
  src/cordova/plugin/OutlineAndroidLib/build.gradle
  src/cordova/plugin/OutlineAndroidLib/outline/src/androidTest/resources/sentry.properties
  src/cordova/plugin/android/java/build-extras.gradle
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Formatting cleanup
  src/cordova/android/README.md
  src/cordova/build.action.mjs
  src/cordova/plugin/android/java/build-extras.gradle
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Add trailing newlines
  src/cordova/android/OutlineAndroidLib/outline/src/androidTest/java/org/outline/vpn/VpnTunnelStoreTest.java
  src/cordova/android/OutlineAndroidLib/outline/src/test/java/org/outline/vpn/VpnTunnelTest.java
Owners: @Jigsaw-Code/outline-dev

chore(cordova/android): make an Android library (#1540)
  src/cordova/android/OutlineAndroidLib/.gitignore
  src/cordova/android/OutlineAndroidLib/build.gradle
  src/cordova/android/OutlineAndroidLib/gradle.properties
  src/cordova/android/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.jar
  src/cordova/android/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.properties
  src/cordova/android/OutlineAndroidLib/gradlew
  src/cordova/android/OutlineAndroidLib/gradlew.bat
  src/cordova/android/OutlineAndroidLib/outline/.gitignore
  src/cordova/android/OutlineAndroidLib/outline/build.gradle
  src/cordova/android/OutlineAndroidLib/outline/consumer-rules.pro
  src/cordova/android/OutlineAndroidLib/outline/proguard-rules.pro
  src/cordova/android/OutlineAndroidLib/outline/src/androidTest/java/org/outline/vpn/VpnTunnelStoreTest.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/AndroidManifest.xml
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/IVpnTunnelService.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/TunnelConfig.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/aidl/org/outline/shadowsocks/ShadowsocksConfig.aidl
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/log/OutlineLogger.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/log/SentryErrorReporter.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnServiceStarter.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnel.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelService.java
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelStore.java
  src/cordova/android/OutlineAndroidLib/outline/src/test/java/org/outline/vpn/VpnTunnelTest.java
  src/cordova/android/OutlineAndroidLib/settings.gradle
  src/cordova/android/README.md
  src/cordova/build.action.mjs
  src/cordova/plugin/android/java/build-extras.gradle
  src/cordova/plugin/android/java/org/outline/OutlinePlugin.java
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

reverting this, just to get it out
  tools/build/setup_linux_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

tweaks
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

remove comment
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

add testing configuration for Apple library
  .github/workflows/build_and_test_debug.yml
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

remove unneeded import
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

add check for darwin system
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

update logging and error message
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

update logging and error message
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

add osVersion as a parameter and change tested versions
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/get_cordova_build_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

update test configurations
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

rename swift test
  src/cordova/apple/OutlineAppleLib/Tests/OutlineTunnelTest/OutlineTunnelTest.swift
Owners: @Jigsaw-Code/outline-dev

try Xcode 11.3.1
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

try Xcode 11.5
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

test xcode again
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

test xcode 12
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

remove earlier ios version test due to running build on mac 12
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

feat(electron): ✨ call checkConnectivity as a library
  package-lock.json
  package.json
  src/electron/webpack_electron_main.mjs
  third_party/outline-tun2socks/.gitignore
  third_party/outline-tun2socks/index.ts
  third_party/outline-tun2socks/package-lock.json
  third_party/outline-tun2socks/package.json
  third_party/outline-tun2socks/prebuilds/linux-x64/libtun2socks.so
  third_party/outline-tun2socks/prebuilds/win32-ia32/tun2socks.dll
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

update default parameters and test arm64 on github
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

fix github to reflect new structure
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

remove arm test
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

Update tools/build/setup_macos_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

rename to xcodedestination and use let
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

test any iphone
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
Owners: @Jigsaw-Code/outline-dev

append OS version for iOS instead of defaulting
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

test any iphone
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

restore iphone name but remove os version req
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

use new get_test_parameters and restore get_build_parameters
  src/cordova/get_test_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

use default parameters in github workflow
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

update default macos architecture for github
  src/cordova/get_test_parameters.mjs
Owners: @Jigsaw-Code/outline-dev
