Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

refactor(actions): renaming platform osx to macos (#1294)
  .github/workflows/build_and_test_debug.yml
  scripts/get_build_parameters.mjs
  scripts/get_cordova_build_parameters.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

Update pull_request_checks.yml
  .github/workflows/pull_request_checks.yml
Owners: none

remove initial
  src/www/assets/circle_initial.png
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_card/stories.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_connection_indicator/stories.ts
  src/www/views/servers_view/server_list/stories.ts
Owners: @Jigsaw-Code/outline-strings-owners

create a browserslist
  .browserslistrc
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

remove obsolete
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

switch to eslint
  .eslintignore
  .eslintrc.json
  .github/workflows/build_and_test_debug.yml
  package-lock.json
  package.json
  src/electron/index.ts
  src/electron/routing_service.ts
  src/types/modules/electron-promise-ipc/index.d.ts
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

weird
  .github/workflows/build_and_test_debug.yml
Owners: none

update version and remove overrides
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-owners

update version and remove overrides (#1308)
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-owners

Update src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

feat(devtools): pull request checks (#1301)
  .github/workflows/pull_request_checks.yml
  commitlint.config.js
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

Update .eslintignore
  .eslintignore
Owners: none

fix(www): restore initial indicator appearance (#1303)
  src/www/views/servers_view/server_card/stories.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_connection_indicator/stories.ts
  src/www/views/servers_view/server_list/stories.ts
Owners: none

Update .browserslistrc
  .browserslistrc
Owners: none

feat(devtools): browserslist (#1306)
  .browserslistrc
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

wait does this build
  .eslintrc.json
  src/electron/go_vpn_tunnel.ts
  src/electron/index.ts
  src/electron/routing_service.ts
  src/electron/sslibev_badvpn_tunnel.ts
  src/www/app/app.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/fake_net.ts
  src/www/app/fake_tunnel.ts
  src/www/app/main.ts
  src/www/app/settings.spec.ts
  src/www/app/url_interceptor.ts
  src/www/app/util.ts
  src/www/infrastructure/memory_storage.ts
  src/www/model/events.ts
  src/www/views/servers_view/index.ts
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

eh?
  package-lock.json
Owners: @Jigsaw-Code/outline-strings-owners

add docs to commitlint
  commitlint.config.js
Owners: none

chore(docs): documentation rearrangement (#1302)
  .github/workflows/build_and_test_debug.yml
  .travis.yml
  README.md
  commitlint.config.js
  docs/android-development.md
  docs/android_development.md
  docs/apple_development.md
  docs/electron_development.md
  docs/invitation_instructions.md
  package-lock.json
  package.json
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

nix triple slash
  .eslintignore
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/url_interceptor.ts
Owners: none

Update .eslintignore
  .eslintignore
Owners: none

!== undefined
  src/www/app/util.ts
Owners: none

rewrite timeoutpromise
  src/www/app/util.ts
Owners: none

Update .eslintignore
  .eslintignore
Owners: none

Update fake_net.ts
  src/www/app/fake_net.ts
Owners: none

feat(devtools): eslint (#1307)
  .eslintignore
  .eslintrc.json
  .github/workflows/build_and_test_debug.yml
  package-lock.json
  package.json
  src/cordova/setup.action.mjs
  src/electron/go_vpn_tunnel.ts
  src/electron/index.ts
  src/electron/routing_service.ts
  src/electron/sslibev_badvpn_tunnel.ts
  src/types/modules/electron-promise-ipc/index.d.ts
  src/www/app/app.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/fake_net.ts
  src/www/app/fake_tunnel.ts
  src/www/app/main.ts
  src/www/app/settings.spec.ts
  src/www/app/url_interceptor.ts
  src/www/app/util.ts
  src/www/infrastructure/memory_storage.ts
  src/www/model/events.ts
  src/www/views/servers_view/index.ts
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

outline header
  list.action.mjs
  scripts/run_action.mjs
Owners: none

okay goin in with hyphens auto
  .stylelintrc
  package-lock.json
  package.json
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: @Jigsaw-Code/outline-strings-owners

prefer postcss-lit... where to ask about babel errors tho?
  .stylelintrc
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

chore(devtools): outline letterhead (#1310)
  list.action.mjs
  scripts/run_action.mjs
Owners: none

Update index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

chore(format): reformat the code related to server and app
  src/www/app/electron_main.ts
  src/www/app/outline_server.ts
  src/www/app/tunnel.ts
  src/www/model/server.ts
Owners: @Jigsaw-Code/outline-owners

feat(devtools): eslint compat
  .eslintrc.json
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

build folder restructure
  commitlint.config.js
  src/build/get_build_environment.mjs
  src/build/get_build_number.mjs
  src/build/get_build_parameters.mjs
  src/build/get_root_dir.mjs
  src/build/get_version.mjs
  src/build/get_webpack_build_mode.mjs
  src/build/index.mjs
  src/build/run_action.mjs
  src/cordova/build.action.mjs
  src/cordova/get_cordova_build_parameters.mjs
  src/cordova/setup.action.mjs
  src/electron/build.action.sh
  src/electron/get_electron_build_flags.mjs
  src/electron/start.action.sh
  src/www/build.action.mjs
  src/www/start.action.sh
Owners: @Jigsaw-Code/outline-owners

the most important of all
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

importz
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
  src/electron/get_electron_build_flags.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

exportz
  src/build/index.mjs
Owners: none

it's not gonna work unless we're type: module
  src/build/index.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
  src/electron/get_electron_build_flags.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

missed path
  src/electron/build.action.sh
Owners: @Jigsaw-Code/outline-owners

electron -> src/electron
  src/electron/build.action.sh
Owners: @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners
