Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

update path in xcodeproj target
  OutlineTun2Socks/Sources/OutlineDependencies/OutlineDependencies.swift
  src/cordova/apple/OutlineTun2Socks/Package.resolved
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @Jigsaw-Code/outline-dev

build(electron/windows): 👷 exclude jsign.jar from the repository
  package-lock.json
  package.json
  src/build/download_file.mjs
  src/electron/windows/sign_windows_executable.action.mjs
  third_party/jsign/.gitignore
  third_party/jsign/index.mjs
  third_party/jsign/jsign-4.2.jar
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Fix quotes
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

remove unused imports
  src/cordova/plugin/apple/src/OutlineConnectivity.swift
  src/cordova/plugin/apple/src/OutlinePlugin.swift
  src/cordova/plugin/apple/src/OutlineSentryLogger.swift
  src/cordova/plugin/apple/src/OutlineVpn.swift
  src/cordova/plugin/apple/vpn/OutlineTunnelStore.swift
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.h
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.m
Owners: @Jigsaw-Code/outline-networking-owners

restore package versions
  src/cordova/apple/OutlineTun2Socks/Package.swift
  src/cordova/apple/ios.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.h
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

restore Sentry and Cocoalumberjack imports w/o local package
  src/cordova/apple/OutlineTun2Socks/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/OutlineTun2Socks/Package.swift
  src/cordova/apple/OutlineTun2Socks/README.md
  src/cordova/apple/OutlineTun2Socks/Sources/OutlineDependencies/OutlineDependencies.swift
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

update project.pbxproj file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

update project.pbxproj file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

update project.pbxproj file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

restore project file spacing
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

remove xcworkspace file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Owners: @Jigsaw-Code/outline-dev

replace follow-redirects with node-fetch
  package-lock.json
  package.json
  src/build/download_file.mjs
  third_party/jsign/index.mjs
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

remove xcworkspace directory
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: @Jigsaw-Code/outline-dev

restore imports
  src/cordova/plugin/apple/src/OutlineVpn.swift
Owners: @Jigsaw-Code/outline-networking-owners

update project file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

restore original imports
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/plugin/apple/src/OutlineConnectivity.swift
  src/cordova/plugin/apple/src/OutlinePlugin.swift
  src/cordova/plugin/apple/src/OutlineSentryLogger.swift
  src/cordova/plugin/apple/src/OutlineVpn.swift
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.h
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Address review comments
  src/cordova/android/README.md
  tools/build/android_tools_versions.sh
  tools/build/setup_linux_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

feedback
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

Check javac
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

update according to code review feedback
  src/build/get_file_checksum.mjs
  src/electron/windows/sign_windows_executable.action.mjs
  third_party/jsign/index.mjs
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

okay let's see how this does
  src/www/app/app.spec.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

catch error
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

fine, this
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

comment
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

ah yes typo
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

change download log messages to debug.
  third_party/jsign/index.mjs
Owners: @Jigsaw-Code/outline-networking-owners

Update src/electron/windows/sign_windows_executable.action.mjs
  src/electron/windows/sign_windows_executable.action.mjs
Owners: @Jigsaw-Code/outline-dev

chore(docs): update Android setup instructions (#1528)
  .github/workflows/build_and_test_debug.yml
  .java-version
  src/cordova/android/README.md
  tools/build/android_tools_versions.sh
  tools/build/setup_linux_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

debug logs from cordova
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

Update src/cordova/setup.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

build(electron/windows): 👷 exclude jsign.jar from the repository (#1537)
  package-lock.json
  package.json
  src/build/download_file.mjs
  src/build/get_file_checksum.mjs
  src/electron/windows/sign_windows_executable.action.mjs
  third_party/jsign/.gitignore
  third_party/jsign/index.mjs
  third_party/jsign/jsign-4.2.jar
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

change to build flag
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/build.action.mjs
  src/cordova/get_cordova_build_parameters.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

initial setup
  .gitignore
  docker-compose.yml
  docker.env
  logfile
Owners: @Jigsaw-Code/outline-dev

chore(build) Define ANDROID_SDK_ROOT and ANDROID_HOME in the Dockerfile
  tools/build/Dockerfile
Owners: @Jigsaw-Code/outline-networking-owners

chore(build) Better error reporting: report exit code, and convert any type of error object into String
  src/build/run_action.mjs
Owners: @Jigsaw-Code/outline-dev

chore(build) Prevent failure when cordova/build calls cordova/setup
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

chore(build) Warn if ANDROID_SDK_ROOT folder is not writable
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

chore(build) Copy android_tools_versions.sh into docker (for 86231a9)
  tools/build/Dockerfile
Owners: @Jigsaw-Code/outline-networking-owners

chore(build) Make spawnStream reject with an Error, so run_action won't need special handling
  src/build/run_action.mjs
  src/build/spawn_stream.mjs
Owners: @Jigsaw-Code/outline-dev

fix(electron/windows): 💊 use the latest go-tun2socks
  src/build/get_version.mjs
Owners: @Jigsaw-Code/outline-dev

.github/CODEOWNERS:

*       @Jigsaw-Code/outline-dev

/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/         @Jigsaw-Code/outline-networking-owners
/tools/               @Jigsaw-Code/outline-networking-owners

/src/www/model/           @fortuna
