Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners

okay, it seems to now come online. final detail is the... who's start
  src/build/run_action.mjs
  src/cordova/setup.action.mjs
  src/electron/build_main.action.mjs
  src/www/start.action.mjs
  src/www/webpack_cordova.mjs
Owners: @Jigsaw-Code/outline-owners

automatically handle ErrorCode and throw in .handle and .invoke
  src/electron/index.ts
  src/electron/ipc-preload.ts
  src/electron/ipc.ts
  src/electron/routing_service.ts
Owners: @Jigsaw-Code/outline-owners

fix: wrap long words in server name (#1375)
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

ok this I guess
  src/cordova/get_cordova_build_parameters.mjs
  src/www/start.action.mjs
  src/www/storybook.action.mjs
  src/www/webpack_cordova.mjs
Owners: @Jigsaw-Code/outline-owners

cleanup
  src/www/get_browser_webpack_config.mjs
  src/www/webpack_electron.mjs
Owners: none

oops
  README.md
Owners: @Jigsaw-Code/outline-strings-owners

refactor: roll back to raw method channel implementation
  src/electron/index.ts
  src/electron/ipc-preload.ts
  src/electron/ipc.ts
  src/electron/preload.d.ts
  src/electron/preload.ts
  src/electron/routing_service.ts
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
Owners: @Jigsaw-Code/outline-owners

resolve conflicts
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

recreate package-lock.json to resolve conflicts
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

need to test master
  src/www/app/app.ts
  src/www/ui_components/add-server-view.js
Owners: none

add url package to resolve webpack_base.mjs require('url/')
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners
