Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners

fixing text overflow and menu postitioning remain
  src/www/.storybook/preview-head.html
  src/www/.storybook/preview.js
  src/www/app/app.ts
  src/www/style.css
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_connection_indicator/stories.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list/stories.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_hero_card.ts
  src/www/views/servers_view/server_list_item/server_row_card.ts
  src/www/views/servers_view/server_list_item/stories.ts
Owners: none

app works more or less, just need those last two things
  src/www/app/app.ts
  src/www/style.css
  src/www/ui_components/app-root.js
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_hero_card.ts
  src/www/views/servers_view/server_list_item/server_row_card.ts
  src/www/views/servers_view/server_list_item/stories.ts
Owners: none

remove action_cache and style css
  .action_cache.json
  src/www/style.css
Owners: @Jigsaw-Code/outline-strings-owners

update preview
  src/www/.storybook/preview.js
Owners: none

adds tabindex
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_list_item/server_hero_card.ts
  src/www/views/servers_view/server_list_item/server_row_card.ts
Owners: none

still need this for now
  src/www/.storybook/preview.js
Owners: none

too many tab index
  src/www/views/servers_view/server_list_item/server_hero_card.ts
  src/www/views/servers_view/server_list_item/server_row_card.ts
Owners: none

handle keydown
  src/www/views/servers_view/server_list_item/server_hero_card.ts
Owners: none

adds parallel actions
  package-lock.json
  package.json
  scripts/run_action.mjs
Owners: @Jigsaw-Code/outline-strings-owners

less indirection
  scripts/run_action.mjs
Owners: none

🎨 style(app): prettier format code related to Linux UI (#1298)
  src/www/app/app.ts
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/main.ts
  src/www/app/platform.ts
  src/www/model/errors.ts
Owners: @Jigsaw-Code/outline-owners

separate cordovaPlatform
  scripts/get_build_parameters.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

ah these remain
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

this too remains
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

okay, let's test it
  .commitlintrc
  .github/workflows/pull_request_checks.yml
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

okay, let's test it
  .commitlintrc
  .github/workflows/pull_request_checks.yml
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

no concurrency
  .github/workflows/pull_request_checks.yml
Owners: none

github token
  .github/workflows/pull_request_checks.yml
Owners: none

ah, update for npm
  .github/workflows/pull_request_checks.yml
Owners: none

remove whitespace
  .github/workflows/pull_request_checks.yml
Owners: none

eh, it wants this filename idc
  .commitlintrc
  commitlint.config.js
Owners: none

rename this back
  commitlint.config.js
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/osx/Outline.xcodeproj/xcshareddata/xcschemes/Outline.xcscheme
  src/cordova/apple/xcode/osx/Outline.xcodeproj/xcshareddata/xcschemes/OutlineLauncher.xcscheme
  src/cordova/apple/xcode/osx/Outline.xcodeproj/xcshareddata/xcschemes/VpnExtension.xcscheme
  src/cordova/apple/xcode/osx/Outline/Classes/AppDelegate.m
  src/cordova/apple/xcode/osx/Outline/Classes/CDVMacOsUrlHandler.swift
  src/cordova/apple/xcode/osx/Outline/Classes/EventMonitor.swift
  src/cordova/apple/xcode/osx/Outline/Images.xcassets/StatusBarButtonImage.imageset/Contents.json
  src/cordova/apple/xcode/osx/Outline/Images.xcassets/StatusBarButtonImage.imageset/outline-black-off-2x.png
  src/cordova/apple/xcode/osx/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/Contents.json
  src/cordova/apple/xcode/osx/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/outline-black-on-2x.png
  src/cordova/apple/xcode/osx/Outline/MainViewController.xib
  src/cordova/apple/xcode/osx/Outline/Outline-Info.plist
  src/cordova/apple/xcode/osx/Outline/Outline.entitlements
  src/cordova/apple/xcode/osx/Outline/VpnExtension-Info.plist
  src/cordova/apple/xcode/osx/Outline/VpnExtension.entitlements
  src/cordova/apple/xcode/osx/Outline/config.xml
  src/cordova/apple/xcode/osx/OutlineLauncher/AppDelegate.swift
  src/cordova/apple/xcode/osx/OutlineLauncher/Base.lproj/Main.storyboard
  src/cordova/apple/xcode/osx/OutlineLauncher/Info.plist
  src/cordova/apple/xcode/osx/OutlineLauncher/OutlineLauncher.entitlements
  src/cordova/apple/xcode/osx/osx.json
  src/cordova/apple/xcode/osx/www/cordova_plugins.js
Owners: @Jigsaw-Code/outline-owners

damit lol
  commitlint.config.js
Owners: none

Update src/electron/routing_service.ts
  src/electron/routing_service.ts
Owners: @Jigsaw-Code/outline-owners

💊 fix(electron): fix wrong connection status when error is thrown during connect (#1286)
  src/electron/index.ts
  src/electron/routing_service.ts
Owners: @Jigsaw-Code/outline-owners

create new function
  scripts/get_build_parameters.mjs
  scripts/get_cordova_build_parameters.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

add scopes, comment, permissions
  .github/workflows/pull_request_checks.yml
  commitlint.config.js
Owners: none

import getBuildParameters
  scripts/get_cordova_build_parameters.mjs
Owners: none

Update scripts/run_action.mjs
  scripts/run_action.mjs
Owners: none

missing parent
  scripts/run_action.mjs
Owners: none

Update src/www/messages/en.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

Update src/www/messages/en.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

Update src/www/messages/en.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

docs refactor
  .github/workflows/build_and_test_debug.yml
  README.md
  docs/android-development.md
  docs/android_development.md
  docs/apple_development.md
  docs/electron_development.md
  docs/invitation_instructions.md
  package-lock.json
  package.json
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

do we even need this still?
  .travis.yml
Owners: none

use codeblocks
  docs/android_development.md
  docs/apple_development.md
Owners: @Jigsaw-Code/outline-strings-owners

make indicator initial again
  src/www/assets/circle_initial.png
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: @Jigsaw-Code/outline-strings-owners

rimraf -> rmfr
  package-lock.json
  package.json
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

refactor code according to pr feedbacks
  src/electron/index.ts
  src/electron/routing_service.ts
  src/electron/sslibev_badvpn_tunnel.ts
  src/electron/util.ts
  src/www/app/app.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/fake_tunnel.ts
  src/www/app/main.ts
  src/www/app/outline_server.ts
  src/www/app/platform.ts
  src/www/app/tunnel.ts
  src/www/app/ui_service.ts
  src/www/messages/en.json
  src/www/model/errors.ts
  src/www/model/server.ts
Owners: @Jigsaw-Code/outline-owners, @Jigsaw-Code/outline-strings-owners

Update setup.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners
