Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

bi-kh-targetSdkVersion-31 - config.xml
  config.xml
Owners: @Jigsaw-Code/outline-dev

bi-kh-targetSdkVersion-31 - README.md
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

targetSdkVersion-31 - plugin.xml
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-networking-owners

Depend on sentry-cocoa as Swift package in ios
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_ios.js
  src/cordova/plugin/plugin.xml
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Forward script output
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_ios.js
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_macos.js
Owners: @Jigsaw-Code/outline-networking-owners

Use exact version for sentry-cocoa
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

Make rsync comment easier to use
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

Use SPM for sentry-cocoa on macOS
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_macos.js
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Delete third_party/sentry-cocoa
  third_party/sentry-cocoa/Cartfile
  third_party/sentry-cocoa/Cartfile.resolved
  third_party/sentry-cocoa/LICENSE
  third_party/sentry-cocoa/METADATA
  third_party/sentry-cocoa/Makefile
Owners: @Jigsaw-Code/outline-networking-owners

Use Workspace
  src/cordova/apple/macos.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/macos.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/macos.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  src/cordova/apple/macos.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/build.action.mjs
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_macos.js
  src/cordova/plugin/apple/vpn/OutlineTunnelStore.swift
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Use SPM for CocoaLumberjack on iOS
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/build.action.mjs
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_ios.js
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Delete sentry-cocoa and CocoaLumberjack
  third_party/CocoaLumberjack/Cartfile
  third_party/CocoaLumberjack/Cartfile.resolved
  third_party/CocoaLumberjack/LICENSE
  third_party/CocoaLumberjack/METADATA
  third_party/CocoaLumberjack/Makefile
Owners: @Jigsaw-Code/outline-networking-owners

Don't sign in debug mode
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Add CODE_SIGNING_REQUIRED=NO
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Fix macOS workspace
  src/cordova/apple/macos.xcworkspace/contents.xcworkspacedata
Owners: @Jigsaw-Code/outline-dev

Remove annoying join
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Use CODE_SIGNING_ALLOWED=NO
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Update XCode to support package.resolved v2
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

Create Workspace for iOS
  src/cordova/apple/ios.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/ios.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  src/cordova/apple/ios.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Add -destination comment
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-dev

Depend on Tun2socks directly
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_ios.js
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_macos.js
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Delete references to Carthage
  .github/workflows/build_and_test_debug.yml
  .gitignore
  package.json
  src/cordova/apple/README.md
  src/cordova/plugin/README.md
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

chore(cordova/apple): use SPM for Apple dependencies (#1527)
  .github/workflows/build_and_test_debug.yml
  .gitignore
  package.json
  src/cordova/apple/README.md
  src/cordova/apple/ios.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/ios.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/ios.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  src/cordova/apple/ios.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/apple/macos.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/macos.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/macos.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  src/cordova/apple/macos.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/build.action.mjs
  src/cordova/plugin/README.md
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_ios.js
  src/cordova/plugin/apple/scripts/copy_third_party_frameworks_macos.js
  src/cordova/plugin/apple/vpn/OutlineTunnelStore.swift
  src/cordova/plugin/plugin.xml
  src/cordova/setup.action.mjs
  third_party/CocoaLumberjack/Cartfile
  third_party/CocoaLumberjack/Cartfile.resolved
  third_party/CocoaLumberjack/LICENSE
  third_party/CocoaLumberjack/METADATA
  third_party/CocoaLumberjack/Makefile
  third_party/sentry-cocoa/Cartfile
  third_party/sentry-cocoa/Cartfile.resolved
  third_party/sentry-cocoa/LICENSE
  third_party/sentry-cocoa/METADATA
  third_party/sentry-cocoa/Makefile
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Update Android command line tools location
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

Add Java
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

Add script for macOS
  src/cordova/android/README.md
  tools/build/setup_linux_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Add env
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Use JDK 11
  .github/workflows/build_and_test_debug.yml
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Update README
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

Update env vars
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Fix expansion
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

export PATH
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Add Homebrew detection
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Added login support.
  cordova-plugin-outline/apple/src/OutlinePlugin.swift
  resources/original_messages.json
  src/www/app/app.ts
  src/www/app/cordova_main.ts
  src/www/messages/en.json
  src/www/ui_components/add-server-view.js
Owners: @Jigsaw-Code/outline-dev

Update .java-version
  .java-version
Owners: @Jigsaw-Code/outline-dev

bah
  config.xml
Owners: @Jigsaw-Code/outline-dev

bah (#1534)
  config.xml
Owners: @Jigsaw-Code/outline-dev

add android:exported
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-networking-owners

java version
  .java-version
Owners: @Jigsaw-Code/outline-dev

move tun2socks and dependencies into swift package
  OutlineTun2Socks/Sources/OutlineDependencies/OutlineDependencies.swift
  src/cordova/apple/OutlineTun2Socks/.gitignore
  src/cordova/apple/OutlineTun2Socks/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/OutlineTun2Socks/Package.resolved
  src/cordova/apple/OutlineTun2Socks/Package.swift
  src/cordova/apple/OutlineTun2Socks/README.md
  src/cordova/apple/OutlineTun2Socks/Sources/OutlineDependencies/OutlineDependencies.swift
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/plugin/apple/src/OutlineConnectivity.swift
  src/cordova/plugin/apple/src/OutlinePlugin.swift
  src/cordova/plugin/apple/src/OutlineSentryLogger.swift
  src/cordova/plugin/apple/src/OutlineVpn.swift
  src/cordova/plugin/apple/vpn/OutlineTunnelStore.swift
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.h
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.m
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

.github/CODEOWNERS:

*       @Jigsaw-Code/outline-dev

/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/         @Jigsaw-Code/outline-networking-owners
/tools/               @Jigsaw-Code/outline-networking-owners

/src/www/model/           @fortuna
