Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

.github/CODEOWNERS:

*       @Jigsaw-Code/outline-dev

/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/         @Jigsaw-Code/outline-networking-owners
/tools/               @Jigsaw-Code/outline-networking-owners

/src/www/model/           @fortuna

wip status
  src/cordova/android/container/Dockerfile
  src/cordova/android/container/README.md
  src/cordova/android/container/build.action.sh
  src/cordova/android/container/run.action.sh
  src/cordova/android/container/setup.sh
  src/cordova/android/container/tools_versions.sh
  src/cordova/android/setup_macos.action.sh
  src/cordova/android/tools_versions.sh
Owners: @Jigsaw-Code/outline-dev

downgrade electron due to its breaking change
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-dev

fix(electron/windows): 💊 use the latest go-tun2socks (#1545)
  package-lock.json
  package.json
  src/build/get_version.mjs
Owners: @Jigsaw-Code/outline-dev

document android verbose
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

chore(android/build): make an Android library
  src/cordova/plugin/OutlineAndroidLib/.gitignore
  src/cordova/plugin/OutlineAndroidLib/build.gradle
  src/cordova/plugin/OutlineAndroidLib/gradle.properties
  src/cordova/plugin/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.jar
  src/cordova/plugin/OutlineAndroidLib/gradle/wrapper/gradle-wrapper.properties
  src/cordova/plugin/OutlineAndroidLib/gradlew
  src/cordova/plugin/OutlineAndroidLib/gradlew.bat
  src/cordova/plugin/OutlineAndroidLib/outline/.gitignore
  src/cordova/plugin/OutlineAndroidLib/outline/build.gradle
  src/cordova/plugin/OutlineAndroidLib/outline/consumer-rules.pro
  src/cordova/plugin/OutlineAndroidLib/outline/proguard-rules.pro
  src/cordova/plugin/OutlineAndroidLib/outline/src/androidTest/java/org/outline/ExampleInstrumentedTest.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/AndroidManifest.xml
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/aidl/org/outline/IVpnTunnelService.aidl
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/aidl/org/outline/TunnelConfig.aidl
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/aidl/org/outline/shadowsocks/ShadowsocksConfig.aidl
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/log/OutlineLogger.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/log/SentryErrorReporter.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnServiceStarter.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnel.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelService.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelStore.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/test/java/org/outline/ExampleUnitTest.java
  src/cordova/plugin/OutlineAndroidLib/settings.gradle
  src/cordova/plugin/android/java/org/outline/OutlinePlugin.java
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-networking-owners

Update build_and_test_debug.yml
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

rename swift package
  src/cordova/apple/OutlineDependencies/.gitignore
  src/cordova/apple/OutlineDependencies/Package.swift
  src/cordova/apple/OutlineDependencies/README.md
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

add copies of source files to swift package
  src/cordova/apple/OutlineDependencies/.gitignore
  src/cordova/apple/OutlineDependencies/Package.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/PacketTunnelProvider.m
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/OutlineTunnel.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/OutlineTunnelStore.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/Subnet.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/include/PacketTunnelProvider.h
Owners: @Jigsaw-Code/outline-dev

update project file
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

update macos to use sources in swift package
  src/cordova/apple/OutlineDependencies/Package.swift
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/OutlineLauncher/AppDelegate.swift
  src/cordova/plugin/apple/src/OutlinePlugin.swift
  src/cordova/plugin/apple/src/OutlineVpn.swift
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

update ios to use sources in swift package
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

update comment paths
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/plugin/plugin.xml
  src/www/model/errors.ts
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

Cache gradle between docker builds, for speed
  tools/build/build.sh
Owners: @Jigsaw-Code/outline-networking-owners

remove relocated source files from plugin folder
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/PacketTunnelProvider.m
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/OutlineTunnel.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/OutlineTunnelStore.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/SwiftSources/Subnet.swift
  src/cordova/apple/OutlineDependencies/Sources/VPNSources/include/PacketTunnelProvider.h
  src/cordova/plugin/apple/src/OutlineTunnel.swift
  src/cordova/plugin/apple/vpn/OutlineTunnelStore.swift
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.h
  src/cordova/plugin/apple/vpn/PacketTunnelProvider.m
  src/cordova/plugin/apple/vpn/Subnet.swift
  src/cordova/plugin/plugin.xml
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Only use gradle cache if the caller has opted in
  src/cordova/android/README.md
  tools/build/build.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

feat(build): support android cordova verbose option (#1539)
  .github/workflows/build_and_test_debug.yml
  src/build/get_build_parameters.mjs
  src/cordova/android/README.md
  src/cordova/build.action.mjs
  src/cordova/get_cordova_build_parameters.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-dev

script tweaks
  src/cordova/android/setup_macos.action.sh
Owners: @Jigsaw-Code/outline-dev

address feedback 2
  src/www/app/app.spec.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

add example tests to swift package
  src/cordova/apple/OutlineDependencies/Package.swift
  src/cordova/apple/OutlineDependencies/Tests/VPNSourcesTest/VPNSourcesTest.swift
Owners: @Jigsaw-Code/outline-dev

Add sample tests and other minor cleanup
  src/cordova/android/README.md
  src/cordova/plugin/OutlineAndroidLib/outline/build.gradle
  src/cordova/plugin/OutlineAndroidLib/outline/src/androidTest/java/org/outline/ExampleInstrumentedTest.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/androidTest/java/org/outline/vpn/VpnTunnelStoreTest.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/androidTest/resources/sentry.properties
  src/cordova/plugin/OutlineAndroidLib/outline/src/main/AndroidManifest.xml
  src/cordova/plugin/OutlineAndroidLib/outline/src/test/java/org/outline/ExampleUnitTest.java
  src/cordova/plugin/OutlineAndroidLib/outline/src/test/java/org/outline/vpn/VpnTunnelTest.java
  src/cordova/plugin/android/java/build-extras.gradle
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

fix: temporarily remove client feedback view
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

fix: temporarily remove client feedback view (#1548)
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

third times' a charm
  config.xml
  package-lock.json
  package.json
  src/cordova/android/README.md
  src/cordova/plugin/plugin.xml
  tools/build/android_tools_versions.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

feedback and switch to build tools 32
  tools/build/android_tools_versions.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Update README.md
  src/cordova/android/README.md
Owners: @Jigsaw-Code/outline-dev

remove env in android_debug_build
  .github/workflows/build_and_test_debug.yml
  tools/build/setup_linux_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

stop typescript complaints
  tsconfig.json
Owners: @Jigsaw-Code/outline-dev

there
  tsconfig.json
Owners: @Jigsaw-Code/outline-dev

add new line at end of gitignore
  src/cordova/apple/OutlineDependencies/.gitignore
Owners: @Jigsaw-Code/outline-dev

update naming in swift package
  src/cordova/apple/OutlineAppleLib/.gitignore
  src/cordova/apple/OutlineAppleLib/Package.swift
  src/cordova/apple/OutlineAppleLib/README.md
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/PacketTunnelProvider.m
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/OutlineTunnel.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/OutlineTunnelStore.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/SwiftSources/Subnet.swift
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/include/PacketTunnelProvider.h
  src/cordova/apple/OutlineAppleLib/Tests/OutlineTunnelTest/OutlineTunnelTest.swift
  src/cordova/apple/OutlineDependencies/Tests/VPNSourcesTest/VPNSourcesTest.swift
Owners: @Jigsaw-Code/outline-dev

rename swift package across projects and files
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/PacketTunnelProvider.m
  src/cordova/apple/OutlineAppleLib/Sources/OutlineTunnelSources/include/PacketTunnelProvider.h
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/OutlineLauncher/AppDelegate.swift
  src/cordova/plugin/apple/src/OutlinePlugin.swift
  src/cordova/plugin/apple/src/OutlineVpn.swift
  src/www/model/errors.ts
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

update macos project file
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

Update tools/build/setup_macos_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

revert target in favor of later cleanup
  tsconfig.json
Owners: @Jigsaw-Code/outline-dev

additional feedback
  tools/build/setup_linux_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

comment
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-networking-owners

Update workflows to run SPM tests
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

Update src/www/app/app.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

Update src/www/app/app.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev

Update src/www/app/app.ts
  src/www/app/app.ts
Owners: @Jigsaw-Code/outline-dev
