Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

testing push to master with new config 2
  src/www/build.action.mjs
Owners: none

testing again
  src/www/build.action.mjs
Owners: none

Revert "handle stats errors"
  src/www/build.action.mjs
Owners: none

resolve weback stats errors
  src/www/build.action.mjs
Owners: none

remove rtl css
  package-lock.json
  package.json
  scripts/rtl_css_webpack.js
  src/www/webpack_base.mjs
  src/www/webpack_cordova.mjs
  src/www/webpack_electron.mjs
  src/www/webpack_test.mjs
Owners: @Jigsaw-Code/outline-strings-owners

put this back
  src/www/build.action.mjs
Owners: none

style(www): format app-root.js
  src/www/ui_components/app-root.js
Owners: none

idk what i'm doing
  .eslintignore
  src/tslint.json
  src/types/ambient/shims.d.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/url_interceptor.ts
  src/www/build.action.mjs
  src/www/storybook.action.sh
  src/www/tsconfig.json
  src/www/web-dev-server.config.mjs
  src/www/webpack_base.mjs
  src/www/webpack_cordova.mjs
  src/www/webpack_electron.mjs
  src/www/webpack_test.mjs
  tsconfig.json
  web-dev-server.config.mjs
Owners: @Jigsaw-Code/outline-strings-owners

Revert "remove plugins (#1318)" (#1322)
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

oops
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

ah, that's why
  src/www/tsconfig.json
Owners: @Jigsaw-Code/outline-strings-owners

feat(i18n): add new languages support to the Client
  src/www/messages/bs.json
  src/www/messages/en-GB.json
  src/www/messages/es.json
  src/www/messages/et.json
  src/www/messages/fa.json
  src/www/messages/hy.json
  src/www/messages/ka.json
  src/www/messages/mk.json
  src/www/messages/my.json
  src/www/messages/pt-BR.json
  src/www/messages/pt-PT.json
  src/www/messages/sq.json
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-strings-owners

not sure
  src/www/tsconfig.json
  tsconfig.json
Owners: @Jigsaw-Code/outline-strings-owners

revert this
  .eslintignore
  src/www/build.action.mjs
Owners: none

forgor electron
  src/electron/tsconfig.json
  tsconfig.json
Owners: @Jigsaw-Code/outline-owners, @Jigsaw-Code/outline-strings-owners

Update pull_request_checks.yml
  .github/workflows/pull_request_checks.yml
Owners: none

style(www): format app-root.js (#1325)
  src/www/ui_components/app-root.js
Owners: none

resolve weback stats errors (#1324)
  src/www/build.action.mjs
Owners: none

fix(electron/linux): outline icon is not shown in Ubuntu Dock
  src/electron/electron-builder.json
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

add comment about unicode bidi characters.
  src/www/ui_components/app-root.js
Owners: none

fix(electron/linux): outline icon is not shown in Ubuntu Dock (#1327)
  src/electron/electron-builder.json
  src/electron/index.ts
Owners: @Jigsaw-Code/outline-owners

remove links and additional TODOs
  src/www/index_electron.html
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/webpack_base.mjs
Owners: none

pushing up to test
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

oops, didn't save
  src/www/index_cordova.html
Owners: none

try to fix windows path lol
  src/www/webpack_base.mjs
Owners: none

fix a couple nits
  src/www/ui_components/app-root.js
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

add a bit of padding to label for safety
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

chore(www): migrate `server-card` to lit (#1282)
  package-lock.json
  package.json
  src/www/.storybook/localize.ts
  src/www/.storybook/preview-head.html
  src/www/.storybook/preview.js
  src/www/app/app.ts
  src/www/assets/material_icons.woff2
  src/www/index_electron.html
  src/www/style.css
  src/www/ui_components/app-root.js
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_card/index.ts
  src/www/views/servers_view/server_card/stories.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_connection_indicator/stories.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list/stories.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_card/stories.ts
  src/www/webpack_base.mjs
  src/www/webpack_electron.mjs
  src/www/webpack_test.mjs
  web-dev-server.config.mjs
Owners: @Jigsaw-Code/outline-strings-owners

remove inline bidi characters.
  src/www/ui_components/app-root.js
Owners: none

shim works
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

better?
  .eslintignore
  .eslintrc.json
Owners: @Jigsaw-Code/outline-strings-owners

i think that fixes it for good?
  src/www/tsconfig.json
  tsconfig.json
Owners: @Jigsaw-Code/outline-strings-owners

partial support
  .stylelintrc
Owners: none

remove unnecessary rtl comment
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

remove upload entirely
  .github/workflows/build_and_test_debug.yml
Owners: none

feat(www): 🌐 introduce new i18n languages support (#1323)
  .github/workflows/pull_request_checks.yml
  src/www/messages/bs.json
  src/www/messages/en-GB.json
  src/www/messages/es.json
  src/www/messages/et.json
  src/www/messages/fa.json
  src/www/messages/hy.json
  src/www/messages/ka.json
  src/www/messages/mk.json
  src/www/messages/my.json
  src/www/messages/pt-BR.json
  src/www/messages/pt-PT.json
  src/www/messages/sq.json
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-strings-owners

remove upload entirely (#1331)
  .github/workflows/build_and_test_debug.yml
Owners: none

comments and explicit import - forgot you could do that
  .eslintrc.json
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/url_interceptor.ts
  tsconfig.json
Owners: @Jigsaw-Code/outline-strings-owners

try this
  src/types/ambient/clipboard.d.ts
  src/types/ambient/webintents.d.ts
Owners: none

nevermind, fine
  .eslintrc.json
  src/types/ambient/clipboard.d.ts
  src/types/ambient/webintents.d.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/url_interceptor.ts
Owners: @Jigsaw-Code/outline-strings-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners
