Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners

okay, i think that's rigth
  src/build/get_build_number.mjs
  src/build/get_version.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

okay, i think that's rigth
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

fix: server card ip address text wrapping, platform in www/build (#1349)
  src/build/get_build_number.mjs
  src/build/get_version.mjs
  src/cordova/build.action.mjs
  src/cordova/setup.action.mjs
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

test push
  src/build/get_build_number.mjs
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/Outline.xcscheme
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/OutlineLauncher.xcscheme
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/VpnExtension.xcscheme
  src/cordova/apple/xcode/macos/Outline/Classes/AppDelegate.m
  src/cordova/apple/xcode/macos/Outline/Classes/CDVMacOsUrlHandler.swift
  src/cordova/apple/xcode/macos/Outline/Classes/EventMonitor.swift
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImage.imageset/Contents.json
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImage.imageset/outline-black-off-2x.png
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/Contents.json
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/outline-black-on-2x.png
  src/cordova/apple/xcode/macos/Outline/MainViewController.xib
  src/cordova/apple/xcode/macos/Outline/Outline-Info.plist
  src/cordova/apple/xcode/macos/Outline/Outline.entitlements
  src/cordova/apple/xcode/macos/Outline/VpnExtension-Info.plist
  src/cordova/apple/xcode/macos/Outline/VpnExtension.entitlements
  src/cordova/apple/xcode/macos/Outline/config.xml
  src/cordova/apple/xcode/macos/OutlineLauncher/AppDelegate.swift
  src/cordova/apple/xcode/macos/OutlineLauncher/Base.lproj/Main.storyboard
  src/cordova/apple/xcode/macos/OutlineLauncher/Info.plist
  src/cordova/apple/xcode/macos/OutlineLauncher/OutlineLauncher.entitlements
  src/cordova/apple/xcode/macos/osx.json
  src/cordova/apple/xcode/macos/www/cordova_plugins.js
  src/electron/types/electron-promise-ipc/index.d.ts
  src/electron/types/socks/index.d.ts
  src/electron/types/sudo-prompt/index.d.ts
  src/infrastructure/memory_storage.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/outline_server.spec.ts
  src/www/app/settings.spec.ts
  src/www/app/url_interceptor.ts
  src/www/types/clipboard.d.ts
  src/www/types/shims.d.ts
  src/www/types/webintents.d.ts
Owners: @Jigsaw-Code/outline-owners

forgot this line
  src/build/get_version.mjs
Owners: none

use outlinePlatform
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

update import restriction paths
  .eslintrc.json
Owners: @Jigsaw-Code/outline-strings-owners

fix(www): 🌐 refine wording during installation (#1347)
  resources/original_messages.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

refactor: intrastructure, types, and cordova macos folder (#1351)
  .eslintrc.json
  src/build/get_build_number.mjs
  src/build/get_version.mjs
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/Outline.xcscheme
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/OutlineLauncher.xcscheme
  src/cordova/apple/xcode/macos/Outline.xcodeproj/xcshareddata/xcschemes/VpnExtension.xcscheme
  src/cordova/apple/xcode/macos/Outline/Classes/AppDelegate.m
  src/cordova/apple/xcode/macos/Outline/Classes/CDVMacOsUrlHandler.swift
  src/cordova/apple/xcode/macos/Outline/Classes/EventMonitor.swift
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImage.imageset/Contents.json
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImage.imageset/outline-black-off-2x.png
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/Contents.json
  src/cordova/apple/xcode/macos/Outline/Images.xcassets/StatusBarButtonImageConnected.imageset/outline-black-on-2x.png
  src/cordova/apple/xcode/macos/Outline/MainViewController.xib
  src/cordova/apple/xcode/macos/Outline/Outline-Info.plist
  src/cordova/apple/xcode/macos/Outline/Outline.entitlements
  src/cordova/apple/xcode/macos/Outline/VpnExtension-Info.plist
  src/cordova/apple/xcode/macos/Outline/VpnExtension.entitlements
  src/cordova/apple/xcode/macos/Outline/config.xml
  src/cordova/apple/xcode/macos/OutlineLauncher/AppDelegate.swift
  src/cordova/apple/xcode/macos/OutlineLauncher/Base.lproj/Main.storyboard
  src/cordova/apple/xcode/macos/OutlineLauncher/Info.plist
  src/cordova/apple/xcode/macos/OutlineLauncher/OutlineLauncher.entitlements
  src/cordova/apple/xcode/macos/osx.json
  src/cordova/apple/xcode/macos/www/cordova_plugins.js
  src/cordova/setup.action.mjs
  src/electron/types/electron-promise-ipc/index.d.ts
  src/electron/types/socks/index.d.ts
  src/electron/types/sudo-prompt/index.d.ts
  src/infrastructure/memory_storage.ts
  src/www/app/clipboard.ts
  src/www/app/cordova_main.ts
  src/www/app/outline_server.spec.ts
  src/www/app/settings.spec.ts
  src/www/app/url_interceptor.ts
  src/www/types/clipboard.d.ts
  src/www/types/shims.d.ts
  src/www/types/webintents.d.ts
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

wip
  src/build/get_build_parameters.mjs
  src/build/webpack_promise.mjs
  src/electron/build.action.sh
  src/electron/builld.action.mjs
  src/electron/get_electron_build_flags.mjs
  src/electron/webpack_electron_main.js
  src/electron/webpack_electron_main.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

okay looking good
  src/build/get_build_environment.mjs
  src/build/get_build_parameters.mjs
  src/build/get_webpack_build_mode.mjs
  src/electron/build.action.mjs
  src/electron/build_icons.action.sh
  src/electron/build_main.action.mjs
  src/electron/builld.action.mjs
  src/electron/webpack_electron_main.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

default stagingPercentage
  src/build/get_build_parameters.mjs
Owners: none

Update src/electron/build_icons.action.sh
  src/electron/build_icons.action.sh
Owners: @Jigsaw-Code/outline-owners

Update src/electron/webpack_electron_main.mjs
  src/electron/webpack_electron_main.mjs
Owners: @Jigsaw-Code/outline-owners

empty name, body inset, list padding
  src/www/style.css
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

comments, fix 'egg' rendering issue
  src/www/style.css
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

add .trim()
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

optional
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

remove outline on connection indicator
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

capitalize comments
  src/www/style.css
  src/www/views/servers_view/index.ts
Owners: none

fix(www): empty name, body inset, list padding (#1353)
  src/www/style.css
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

little header tweak
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_list/index.ts
Owners: none

Initial demo of split-tunnel on Android
  cordova-plugin-outline/android/aidl/org/outline/RoutingPolicy.aidl
  cordova-plugin-outline/android/aidl/org/outline/TunnelConfig.aidl
  cordova-plugin-outline/android/java/org/outline/OutlinePlugin.java
  cordova-plugin-outline/android/java/org/outline/vpn/VpnTunnel.java
  cordova-plugin-outline/android/java/org/outline/vpn/VpnTunnelService.java
  package-lock.json
  src/electron/index.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/fake_tunnel.ts
  src/www/app/outline_server.ts
  src/www/app/tunnel.ts
  third_party/outline-go-tun2socks/android/jni/arm64-v8a/libgojni.h
  third_party/outline-go-tun2socks/android/jni/armeabi-v7a/libgojni.h
  third_party/outline-go-tun2socks/android/jni/x86/libgojni.h
  third_party/outline-go-tun2socks/android/jni/x86_64/libgojni.h
  tools/outline_proxy_controller/outline_controller_server.cpp
  tools/outline_proxy_controller/outline_proxy_controller.cpp
  tools/outline_proxy_controller/outline_proxy_controller.h
Owners: @Jigsaw-Code/outline-owners, @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners

osx release short circuit
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

rename sentryDSN, make electron build
  src/build/get_build_environment.mjs
  src/build/get_build_parameters.mjs
  src/electron/build_main.action.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

[#1355] Fixed White Lines on iOS Launch Screen
  resources/splashscreen/ios/splashscreen@2x~universal~anyany.png
Owners: @Jigsaw-Code/outline-strings-owners

fix(cordova/apple/ios): fixed white lines on iOS launch screen [#1355] #1358
  resources/splashscreen/ios/splashscreen@2x~universal~anyany.png
Owners: @Jigsaw-Code/outline-strings-owners

draggable false
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: none

fix select - but the egging is back??
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

give up and fully de-egg for this release
  src/cordova/setup.action.mjs
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

Update index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

most of the feedback
  src/cordova/build.action.mjs
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

punt this for now
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

Update build.action.mjs
  src/cordova/build.action.mjs
Owners: @Jigsaw-Code/outline-owners

fix: additional small issues (#1354)
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/build.action.mjs
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

no more icons action
  package-lock.json
  package.json
  src/electron/build.action.mjs
  src/electron/build_icons.action.sh
  src/electron/icons/mac/icon.icns
  src/electron/icons/png/1024x1024.png
  src/electron/icons/png/128x128.png
  src/electron/icons/png/16x16.png
  src/electron/icons/png/24x24.png
  src/electron/icons/png/256x256.png
  src/electron/icons/png/32x32.png
  src/electron/icons/png/48x48.png
  src/electron/icons/png/512x512.png
  src/electron/icons/png/64x64.png
  src/electron/icons/win/icon.ico
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

remove all sh files from src
  .github/workflows/build_and_test_debug.yml
  list.action.mjs
  package.json
  src/build/run_action.mjs
  src/electron/start.action.sh
  src/www/start.action.sh
  src/www/storybook.action.sh
  src/www/test.action.sh
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

make build env dsn mandatory
  src/build/get_build_environment.mjs
  src/www/build.action.mjs
Owners: none

make build env dsn mandatory
  src/build/get_build_environment.mjs
  src/www/build.action.mjs
Owners: none

chore(electron): migrate electron build script to ESM (#1352)
  package-lock.json
  package.json
  src/build/get_build_environment.mjs
  src/build/get_build_parameters.mjs
  src/build/get_webpack_build_mode.mjs
  src/build/webpack_promise.mjs
  src/electron/build.action.mjs
  src/electron/build.action.sh
  src/electron/build_main.action.mjs
  src/electron/get_electron_build_flags.mjs
  src/electron/icons/mac/icon.icns
  src/electron/icons/png/1024x1024.png
  src/electron/icons/png/128x128.png
  src/electron/icons/png/16x16.png
  src/electron/icons/png/24x24.png
  src/electron/icons/png/256x256.png
  src/electron/icons/png/32x32.png
  src/electron/icons/png/48x48.png
  src/electron/icons/png/512x512.png
  src/electron/icons/png/64x64.png
  src/electron/icons/win/icon.ico
  src/electron/webpack_electron_main.js
  src/electron/webpack_electron_main.mjs
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners
