Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners

link build params
  src/cordova/get_cordova_build_parameters.mjs
Owners: @Jigsaw-Code/outline-owners

fix
  scripts/run_action.mjs
  src/electron/build.action.sh
  src/www/views/servers_view/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

Fix Apple documentation
  docs/apple_development.md
Owners: @Jigsaw-Code/outline-strings-owners

remove plugins
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

fix (#1316)
  scripts/run_action.mjs
  src/electron/build.action.sh
  src/www/views/servers_view/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

Fix Apple documentation (#1317)
  docs/apple_development.md
Owners: @Jigsaw-Code/outline-strings-owners

improve missing action message
  src/build/run_action.mjs
Owners: none

feat(devtools): eslint compat (#1314)
  .eslintrc.json
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

chore(build): create src/build (#1315)
  commitlint.config.js
  package.json
  src/build/get_build_environment.mjs
  src/build/get_build_number.mjs
  src/build/get_build_parameters.mjs
  src/build/get_root_dir.mjs
  src/build/get_version.mjs
  src/build/get_webpack_build_mode.mjs
  src/build/run_action.mjs
  src/cordova/build.action.mjs
  src/cordova/get_cordova_build_parameters.mjs
  src/cordova/setup.action.mjs
  src/electron/build.action.sh
  src/electron/get_electron_build_flags.mjs
  src/electron/start.action.sh
  src/www/build.action.mjs
  src/www/start.action.sh
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

remove plugins (#1318)
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

apple 1.7.1
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
  src/cordova/apple/xcode/osx/Outline/Outline-Info.plist
Owners: @Jigsaw-Code/outline-owners

apple 1.7.1 (#1319)
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
  src/cordova/apple/xcode/osx/Outline/Outline-Info.plist
Owners: @Jigsaw-Code/outline-owners

set CSI
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: @Jigsaw-Code/outline-owners

style(www): 🎨 format the code related to server and app (#1312)
  src/www/app/electron_main.ts
  src/www/app/outline_server.ts
  src/www/app/tunnel.ts
  src/www/model/server.ts
Owners: @Jigsaw-Code/outline-owners

refactor: adding VpnInstaller to implement setupVpn
  src/electron/index.ts
  src/electron/routing_service.ts
  src/electron/util.ts
  src/www/app/app.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/electron_outline_tunnel.ts
  src/www/app/fake_tunnel.ts
  src/www/app/main.ts
  src/www/app/outline_server.ts
  src/www/app/platform.ts
  src/www/app/tunnel.ts
  src/www/app/vpn_installer.ts
  src/www/model/server.ts
Owners: @Jigsaw-Code/outline-owners

alberto's changes
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-owners

Delete .npmrc
  .npmrc
Owners: none

additional test
  package.json
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: @Jigsaw-Code/outline-strings-owners

lol it did NOT like the interpolation
  package.json
  src/www/views/servers_view/server_connection_indicator/index.ts
Owners: @Jigsaw-Code/outline-strings-owners

hmmmm
  package-lock.json
Owners: @Jigsaw-Code/outline-strings-owners

dammit
  package-lock.json
  package.json
  scripts/rtl_css_webpack.js
Owners: @Jigsaw-Code/outline-strings-owners

postcss-rtlcss
  package-lock.json
  package.json
  scripts/rtl_css_webpack.js
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-strings-owners

Revert "remove plugins (#1318)"
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

pushing this up to see the line difference
  src/cordova/setup.action.mjs
  src/www/.storybook/l10n.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list/stories.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_card/stories.ts
  src/www/views/servers_view/server_list_item/server_hero_card.ts
  src/www/views/servers_view/server_list_item/server_row_card.ts
Owners: @Jigsaw-Code/outline-owners

some stray files
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list_item/server_card/stories.ts
Owners: none

only expose serverId
  src/www/app/app.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

move comment
  src/www/index_cordova.html
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

okay, happy with this
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

closer
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

dispatchers not firing? probably binding issue
  package-lock.json
  package.json
  src/tsconfig.json
  src/www/.storybook/preview-head.html
  src/www/assets/material_icons.woff2
  src/www/build.action.mjs
  src/www/style.css
  src/www/ui_components/app-root.js
  src/www/views/servers_view/index.ts
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/webpack_base.mjs
Owners: @Jigsaw-Code/outline-strings-owners

fix event dispatcher
  src/www/views/servers_view/server_list_item/server_card/index.ts
  web-dev-server.config.mjs
Owners: none

fix image imports
  package-lock.json
  package.json
  src/www/views/servers_view/server_list/stories.ts
  web-dev-server.config.mjs
Owners: @Jigsaw-Code/outline-strings-owners

revert localizer
  src/www/.storybook/localize.ts
  src/www/views/servers_view/server_list/index.ts
  src/www/views/servers_view/server_list/stories.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/views/servers_view/server_list_item/server_card/stories.ts
Owners: none

line-clamp
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

png to test
  src/www/webpack_test.mjs
Owners: none

okay good enough
  src/www/app/app.ts
  src/www/views/servers_view/server_list_item/index.ts
  src/www/views/servers_view/server_list_item/server_card/index.ts
  src/www/webpack_electron.mjs
  src/www/webpack_test.mjs
Owners: none

cleanup
  src/cordova/setup.action.mjs
  src/tsconfig.json
  src/www/build.action.mjs
Owners: @Jigsaw-Code/outline-owners, @Jigsaw-Code/outline-strings-owners

handle stats errors
  src/www/build.action.mjs
Owners: none

remove stat
  src/www/build.action.mjs
Owners: none

testing push to master with new config
  src/www/build.action.mjs
Owners: none
