Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners, @fortuna

.github/CODEOWNERS:

*       @Jigsaw-Code/outline-dev

/src/cordova/plugin/  @Jigsaw-Code/outline-networking-owners
/third_party/         @Jigsaw-Code/outline-networking-owners
/tools/               @Jigsaw-Code/outline-networking-owners

/src/www/model/           @fortuna

update versions
  src/cordova/android/OutlineAndroidLib/build.gradle
Owners: @Jigsaw-Code/outline-dev

update other versions lol
  src/cordova/android/OutlineAndroidLib/outline/build.gradle
Owners: @Jigsaw-Code/outline-dev

restore get_cordova_build_parameters file
  src/cordova/get_cordova_build_parameters.mjs
Owners: @Jigsaw-Code/outline-dev

hardcode defaults
  src/cordova/get_test_parameters.mjs
Owners: @Jigsaw-Code/outline-dev

chore: make adjustments to macos setup script and build for android API v32 (#1549)
  .github/workflows/build_and_test_debug.yml
  config.xml
  package-lock.json
  package.json
  src/cordova/android/OutlineAndroidLib/build.gradle
  src/cordova/android/OutlineAndroidLib/outline/build.gradle
  src/cordova/android/README.md
  src/cordova/plugin/plugin.xml
  tools/build/android_tools_versions.sh
  tools/build/setup_linux_android.sh
  tools/build/setup_macos_android.sh
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

wip
  package-lock.json
  package.json
  src/electron/index.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/error_reporter.ts
Owners: @Jigsaw-Code/outline-dev

add error if platform is not apple and clean up devicemodel specification
  src/cordova/get_test_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

feat(electron): ✨ call checkConnectivity as a library
  package-lock.json
  package.json
  src/electron/webpack_electron_main.mjs
  third_party/outline-tun2socks/.gitignore
  third_party/outline-tun2socks/index.ts
  third_party/outline-tun2socks/package-lock.json
  third_party/outline-tun2socks/package.json
  third_party/outline-tun2socks/prebuilds/linux-x64/libtun2socks.so
  third_party/outline-tun2socks/prebuilds/win32-ia32/tun2socks.dll
Owners: @Jigsaw-Code/outline-dev, @Jigsaw-Code/outline-networking-owners

Revert "fix: temporarily remove client feedback view (#1548)"
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

remove unneeded imports
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

Revert "fix: temporarily remove client feedback view (#1548)" (#1559)
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

move test parameter parsing to test action
  src/cordova/get_test_parameters.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev

revert modern style import
  src/electron/index.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/error_reporter.ts
Owners: @Jigsaw-Code/outline-dev

revert it again
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

chore: upgrade sentry (#1558)
  package-lock.json
  package.json
  src/electron/index.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/error_reporter.ts
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

wip
  src/www/assets/icons/about.png
  src/www/assets/icons/add.png
  src/www/assets/icons/back.png
  src/www/assets/icons/change_language.png
  src/www/assets/icons/help.png
  src/www/assets/icons/menu.png
  src/www/assets/icons/outline.png
  src/www/assets/icons/quit.png
  src/www/assets/jigsaw-logo.png
  src/www/assets/outline-client-logo.png
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

finalized
  src/www/assets/icons/about.png
  src/www/assets/icons/add.png
  src/www/assets/icons/back.png
  src/www/assets/icons/change_language.png
  src/www/assets/icons/help.png
  src/www/assets/icons/menu.png
  src/www/assets/icons/outline.png
  src/www/assets/icons/quit.png
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

chore: replace all svgs with pngs to fix the ventura mac client (#1562)
  src/www/assets/icons/about.png
  src/www/assets/icons/add.png
  src/www/assets/icons/back.png
  src/www/assets/icons/change_language.png
  src/www/assets/icons/help.png
  src/www/assets/icons/menu.png
  src/www/assets/icons/outline.png
  src/www/assets/icons/quit.png
  src/www/assets/jigsaw-logo.png
  src/www/assets/outline-client-logo.png
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

exclude arm64
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @Jigsaw-Code/outline-dev

take 2
  src/cordova/apple/macos.xcworkspace/xcshareddata/swiftpm/Package.resolved
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

put this back?
  src/cordova/apple/macos.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @Jigsaw-Code/outline-dev

fix: exclude arm64 from macOS compilation target (attempt #2) (#1565)
  src/cordova/apple/xcode/macos/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-dev

feat(www): 🌐 support 11 more languages
  src/www/messages/af.json
  src/www/messages/bn.json
  src/www/messages/es-419.json
  src/www/messages/fil.json
  src/www/messages/is.json
  src/www/messages/kk.json
  src/www/messages/lo.json
  src/www/messages/mn.json
  src/www/messages/mr.json
  src/www/messages/ms.json
  src/www/messages/my.json
  src/www/messages/ne.json
  src/www/messages/si.json
  src/www/messages/sw.json
  src/www/messages/ta.json
  src/www/messages/vi.json
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

feat(www): 🌐 support 11 more languages (#1566)
  src/www/messages/af.json
  src/www/messages/bn.json
  src/www/messages/es-419.json
  src/www/messages/fil.json
  src/www/messages/is.json
  src/www/messages/kk.json
  src/www/messages/lo.json
  src/www/messages/mn.json
  src/www/messages/mr.json
  src/www/messages/ms.json
  src/www/messages/my.json
  src/www/messages/ne.json
  src/www/messages/si.json
  src/www/messages/sw.json
  src/www/messages/ta.json
  src/www/messages/vi.json
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

wip
  src/www/assets/icons/feedback.png
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

rename iselectron
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

fix: show feedback form on mobile (#1569)
  src/www/assets/icons/feedback.png
  src/www/ui_components/app-root.js
Owners: @Jigsaw-Code/outline-dev

add coverage summary to web tests
  .gitignore
  package-lock.json
  package.json
  src/www/karma.conf.js
  src/www/webpack_test.mjs
Owners: @Jigsaw-Code/outline-dev

add codecov action
  .github/workflows/build_and_test_debug.yml
Owners: @Jigsaw-Code/outline-dev

remove comments
  src/www/karma.conf.js
Owners: @Jigsaw-Code/outline-dev

feat(www): web unit test coverage (#1570)
  .github/workflows/build_and_test_debug.yml
  .gitignore
  package-lock.json
  package.json
  src/www/karma.conf.js
  src/www/webpack_test.mjs
Owners: @Jigsaw-Code/outline-dev

Support kotlin 1.6.21
  src/cordova/android/OutlineAndroidLib/build.gradle
  src/cordova/android/OutlineAndroidLib/outline/build.gradle
Owners: @Jigsaw-Code/outline-dev

Broadcast vpn status disconnected while tear down active tunnel.
  src/cordova/android/OutlineAndroidLib/outline/src/main/java/org/outline/vpn/VpnTunnelService.java
Owners: @Jigsaw-Code/outline-dev

add todo and test coverage
  README.md
  src/www/TODO.spec.ts
  src/www/webpack_test.mjs
Owners: @Jigsaw-Code/outline-dev

add todo and test coverage (#1574)
  README.md
  src/www/TODO.spec.ts
  src/www/webpack_test.mjs
Owners: @Jigsaw-Code/outline-dev

wip
  src/infrastructure/result.ts
  src/infrastructure/timeout_promise.ts
  src/www/app/app.ts
  src/www/app/outline_server_repository/access_key_serialization.ts
  src/www/app/outline_server_repository/server.ts
  src/www/app/tunnel.ts
  src/www/model/server.ts
  src/www/model/v2_errors.ts
Owners: @Jigsaw-Code/outline-dev, @fortuna

chore: ⏫ upgrade tun2socks library to v3.1.0
  third_party/outline-go-tun2socks/android/jni/armeabi-v7a/libgojni.so
  third_party/outline-go-tun2socks/android/jni/x86/libgojni.so
  third_party/outline-go-tun2socks/linux/tun2socks
  third_party/outline-go-tun2socks/win32/tun2socks.exe
Owners: @Jigsaw-Code/outline-networking-owners

Upgrade tun2socks version in Swift package
  src/cordova/apple/OutlineAppleLib/Package.swift
Owners: @Jigsaw-Code/outline-dev

let's see what happens
  .nvmrc
  package.json
  src/build/get_supported_os_target.mjs
  src/build/run_action.mjs
  src/build/spawn_stream.mjs
  src/cordova/test.action.mjs
  src/electron/start.action.mjs
Owners: @Jigsaw-Code/outline-dev

test
  .github/workflows/build_and_test_debug.yml
  src/build/spawn_stream.mjs
  src/cordova/test.action.mjs
Owners: @Jigsaw-Code/outline-dev
