Repository Jigsaw-Code/outline-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-networking-owners, @Jigsaw-Code/outline-owners

fix(devtools): allow ambient modules (#1326)
  .eslintignore
  .eslintrc.json
  src/electron/tsconfig.json
  src/tslint.json
  src/types/ambient/shims.d.ts
  src/www/storybook.action.sh
  src/www/tsconfig.json
  src/www/views/servers_view/server_connection_indicator/index.ts
  src/www/web-dev-server.config.mjs
  src/www/webpack_base.mjs
  src/www/webpack_cordova.mjs
  src/www/webpack_electron.mjs
  src/www/webpack_test.mjs
  tsconfig.json
Owners: @Jigsaw-Code/outline-strings-owners, @Jigsaw-Code/outline-owners

fix(electron): 💊 fix routing daemon installation issue in Linux (#1274)
  src/electron/index.ts
  src/electron/routing_service.ts
  src/electron/sslibev_badvpn_tunnel.ts
  src/electron/util.ts
  src/www/app/app.ts
  src/www/app/cordova_main.ts
  src/www/app/electron_main.ts
  src/www/app/main.ts
  src/www/app/platform.ts
  src/www/app/vpn_installer.ts
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-owners, @Jigsaw-Code/outline-strings-owners

super rough start
  src/www/app/outline_server.ts
  src/www/model/server.ts
Owners: @Jigsaw-Code/outline-owners

feat(www): 🌐 prepare translations for newly added messages
  resources/original_messages.json
Owners: @Jigsaw-Code/outline-strings-owners

Update PR according to feedback
  resources/original_messages.json
Owners: @Jigsaw-Code/outline-strings-owners

attempt #1
  .eslintrc.json
  package-lock.json
  package.json
  src/www/webpack_base.mjs
Owners: @Jigsaw-Code/outline-strings-owners

use correct import zones
  .eslintrc.json
Owners: @Jigsaw-Code/outline-strings-owners

...add rimraf?
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

had to use plugin:import/typescript
  .eslintrc.json
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

remove --debug flag
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

Reset signing
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-owners

fix: explicitly add rimraf dependency
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

fix(www): language page title is not translated
  resources/original_messages.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

just remoev the cache
  .github/workflows/build_and_test_debug.yml
Owners: none

fix(build): ⬆️ upgrade setup-node action version
  .github/workflows/build_and_test_debug.yml
Owners: none

fix(build): ⬆️ upgrade setup-node action version (#1340)
  .github/workflows/build_and_test_debug.yml
Owners: none

feat(www): 🌐 prepare translations for newly added messages (#1336)
  resources/original_messages.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

Reset signing (#1338)
  src/cordova/apple/xcode/ios/Outline.xcodeproj/project.pbxproj
Owners: @Jigsaw-Code/outline-owners

explicit font and remove card min width
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
  src/www/ui_components/language-view.js
  src/www/ui_components/privacy-view.js
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

update ios version
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
Owners: @Jigsaw-Code/outline-owners

Revert "update ios version"
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
Owners: @Jigsaw-Code/outline-owners

Revert "explicit font and remove card min width"
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
  src/www/ui_components/language-view.js
  src/www/ui_components/privacy-view.js
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

explicit font and remove card min width
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
  src/www/ui_components/language-view.js
  src/www/ui_components/privacy-view.js
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: none

update ios version
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
Owners: @Jigsaw-Code/outline-owners

remove circ cuz it don't work with webpack
  package-lock.json
  package.json
  src/www/webpack_base.mjs
Owners: @Jigsaw-Code/outline-strings-owners

missed a save
  src/www/webpack_base.mjs
Owners: none

fix: breaking ios issues and update ios version (#1341)
  src/cordova/apple/xcode/ios/Outline/Outline-Info.plist
  src/www/ui_components/about-view.js
  src/www/ui_components/app-root.js
  src/www/ui_components/language-view.js
  src/www/ui_components/privacy-view.js
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

these are the changes i needed to release
  src/cordova/apple/xcode/ios/Outline/VpnExtension-Info.plist
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/cordova/apple/xcode/osx/Outline/VpnExtension-Info.plist
Owners: @Jigsaw-Code/outline-owners

don't need this
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: @Jigsaw-Code/outline-owners

don't need that either
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Owners: @Jigsaw-Code/outline-owners

adds comment
  .eslintrc.json
Owners: @Jigsaw-Code/outline-strings-owners

create symlink
  docs/invitation-instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

build(cordova/apple/macos): signing reset and version bump (#1342)
  src/cordova/apple/xcode/ios/Outline/VpnExtension-Info.plist
  src/cordova/apple/xcode/osx/Outline.xcodeproj/project.pbxproj
  src/cordova/apple/xcode/osx/Outline/VpnExtension-Info.plist
Owners: @Jigsaw-Code/outline-owners

ah, do it this way
  docs/invitation-instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

feat(devtools): restrict invalid import paths (#1337)
  .eslintrc.json
  package-lock.json
  package.json
Owners: @Jigsaw-Code/outline-strings-owners

fix(docs): create invitation-instructions.md link-through (#1345)
  docs/invitation-instructions.md
Owners: @Jigsaw-Code/outline-strings-owners

fix(www): 🌐 refine wording during installation
  resources/original_messages.json
  src/www/messages/en.json
Owners: @Jigsaw-Code/outline-strings-owners

fix server wrapping and version #
  src/cordova/setup.action.mjs
  src/www/views/servers_view/server_list_item/server_card/index.ts
Owners: @Jigsaw-Code/outline-owners

this instead
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

eh
  src/cordova/setup.action.mjs
Owners: @Jigsaw-Code/outline-owners

.github/CODEOWNERS:

/docs/       @Jigsaw-Code/outline-strings-owners
/resources/  @Jigsaw-Code/outline-strings-owners
*.json       @Jigsaw-Code/outline-strings-owners
*.md         @Jigsaw-Code/outline-strings-owners
*.png        @Jigsaw-Code/outline-strings-owners
*.svg        @Jigsaw-Code/outline-strings-owners

/cordova-plugin-outline/  @Jigsaw-Code/outline-networking-owners
/third_party/             @Jigsaw-Code/outline-networking-owners
/tools/                   @Jigsaw-Code/outline-networking-owners

/src/cordova/             @Jigsaw-Code/outline-owners
/src/electron/            @Jigsaw-Code/outline-owners
/src/www/model/           @Jigsaw-Code/outline-owners
/cordova-plugin-outline/  @Jigsaw-Code/outline-owners
