Repository Jigsaw-Code/outline-apps, pull requests merged in 2022-03, with the labels that each got.

#1192 👷 build(windows): introduce Jsign to sign Windows binaries
  README.md
  third_party/jsign/LICENSE.txt
  third_party/jsign/METADATA
  third_party/jsign/jsign-4.0.jar
Labels: os/windows, release process

#1207 fix(sentry): clear name in device context
  cordova-plugin-outline/android/java/org/outline/log/SentryErrorReporter.java
Labels: os/android, !BLOCKING RELEASE!

#1205 👷 build(windows): sign Windows apps during electron build
  src/electron/electron-builder.json
  src/electron/windows/digicert-usb-config/eToken-macos.cfg
  src/electron/windows/digicert-usb-config/eToken-windows.cfg
  src/electron/windows/electron_builder_signing_plugin.cjs
  src/electron/windows/sign_windows_executable.mjs
Labels: os/windows, release process

#1221 fix(dev): replace clang with prettier
  .clang-format
  .clang-format-ignore
  .prettierignore
  .prettierrc.json
  package.json
  src/www/start.action.sh
Labels: build issue

#1231 feat(release): copy current iOS CI process over to the build_release_candidates workflow
  .github/workflows/build_release_candidates.yml
Labels: os/ios, release process
